.forefront{
	padding: 110px 0 20px;
		&-list{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 85px 0 20px;
				&-item{
					width: 300px;
					display: flex;
					margin-bottom: 55px;
						@include d($sm){
							width: 50%;
						}
						@include d($xs){
							width: 100%;
							margin-bottom: 33px;
						}
				}
				&-icon{
					width: 32px;
					height: 32px;
					min-width: 32px;
					margin-top: -2px;
						& ~ .forefront-list-description{
							margin-left: 16px;
								@include d($xs){
									margin-left: 12px;
								}
						}
				}
				&-description{
					max-width: 280px;
				}
				@include d($xs){
					margin: 35px 0 20px;
				}
		}
		.section{
				&-title{
					text-align: center;
					max-width: 920px;
					margin: 0 auto 60px;
					display: block;
						&.h-1{
							font-size: 60px;
								@include d($xl){
									font-size: 54px;
								}
								@include d($lg){
									font-size: 48px;
								}
								@include d($md){
									font-size: 44px;
								}
								@include d($sm){
									font-size: 36px;
								}
								@include d($xs){
									font-size: 23px;
									margin: 0 auto 33px;
								}
						}
				}
				&-subtitle{
					text-align: center;
					max-width: 870px;
					margin: 0 auto;
					line-height: 1.5em;
						@include d($xs){
							max-width: 95%;
							line-height: 1.65em;
							margin: 0 auto 34px;
						}
				}
				&-banner{
					margin: 28px 0;
				}
		}
		@include d($xs){
			padding: 20px 0;
		}
}