.options{
	background-color: #0D0F16;
	padding-bottom: 50px;
		&-item{
			height: 570px;
			box-shadow: 0 10px 30px rgba(30, 37, 60, .5);
			border-radius: 50px;
			position: relative;
			overflow: hidden;
			background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.35) 0%, rgba(0, 91, 174, 0.28) 100%);
			text-align: center;
			padding: 112px 40px 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 32px;
				&-thumb{
					position: absolute;
					z-index: 1;
					inset: 1px;
					border-radius: 50px;
					overflow: hidden;
					pointer-events: none;
						&:before{
							content: '';
							position: absolute;
							inset: 0;
							background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #0D0F16 100%);
							pointer-events: none;
						}
						img, picture{
							@include imageCover(center);
						}
						@include d($xs){
							border-radius: 24px;
						}
				}
				&-title{
					position: relative;
					z-index: 1;
					font-size: 35px;
					font-family: var(--font-semibold);
					margin-bottom: 14px;
						@include d($xs){
							font-size: 24px;
						}
				}
				&-description{
					position: relative;
					z-index: 1;
					font-size: 16px;
					font-family: var(--font-semibold);
					max-width: 315px;
					margin: 0 auto;
						@include d($xs){
							font-size: 14px;
						}
				}
				&-action{
					position: absolute;
					max-width: 228px;
					width: 100%;
					bottom: 70px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 1;
					display: flex;
					justify-content: space-between;
						.link{
							text-transform: capitalize;
						}
						@include d($xs){
							bottom: 37px;
							width: 200px;
						}
				}
				&-btn{
					position: absolute;
					width: 56px;
					height: 56px;
					bottom: 24px;
					right: 24px;
					z-index: 1;
					background-repeat: no-repeat;
					background-image: url(../images/arrow-circle.svg);
					background-size: contain;
					background-position: center;
					transition: transform var(--duration) var(--ease);
						@include hover($md){
							&:hover{
								transform: rotate(-45deg);
							}
						}
						@include d($xs){
							display: none;
						}
				}
				&:before{
					content: '';
					position: absolute;
					inset: 1px;
					background-color: var(--color-black);
					border-radius: 50px;
					pointer-events: none;
				}
				@include d($lg){
					height: 490px;
				}
				@include d($md){
					height: 75vw;
				}
				@include d($xs){
					height: 92vw;
					border-radius: 24px;
					padding: 75px 40px 60px;
					margin-bottom: 55px;
				}
		}
		@include d($xs){
			padding-bottom: 15px;
		}
}