.story{
	padding: 10px 0 100px;
		&-box{
			border-radius: 32px;
			overflow: hidden;
			background-color: var(--color-white);
			max-width: 418px;
			color: var(--color-black);
			padding-bottom: 30px;
				&-thumb{
					height: 420px;
					margin-bottom: 40px;
						img, picture{
							@include imageCover(center top);
						}
						@include d($xs){
							height: 345px;
							margin-bottom: 25px;
						}
				}
				&-title{
					text-align: center;
					font-size: 20px;
					font-family: var(--font-semibold);
					text-transform: uppercase;
					line-height: 1.1em;
					padding: 0 20px;
				}
				&-subtitle{
					text-align: center;
					font-size: 10px;
					font-family: var(--font-medium);
					text-transform: uppercase;
					color: #5B5B5B;
					padding: 0 20px;
				}
				&-description{
					text-align: center;
					color: #5B5B5B;
					padding: 9px 20px;
					font-size: 12px;
					line-height: 1.5em;
					max-width: 385px;
					margin: 0 auto;
				}
				@include d($md){
					margin: 0 auto;
				}
				@include d($xs){
					padding-bottom: 15px;
				}
		}
		&-tabs{
			margin-top: 120px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
				&-item{
					font-size: 40px;
					font-family: var(--font-semibold);
					text-transform: uppercase;
					padding-left: 24px;
					position: relative;
					line-height: 1em;
					transition: color var(--duration) var(--ease);
					display: inline-block;
						&:not(:last-child){
							margin-bottom: 45px;
								@include d($sm){
									margin-bottom: 28px;
								}
						}
						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 5px;
							height: 100%;
							background-color: currentColor;
							pointer-events: none;
						}
						@include hover($md){
							&:hover{
								color: #6596B1;
							}
						}
						@include d($xl){
							font-size: 34px;
						}
						@include d($sm){
							font-size: 30px;
						}
						@include d($xs){
							font-size: 20px;
							padding-left: 18px;
						}
				}
				@include d($md){
					margin-top: 50px;
					margin-bottom: 50px;
				}
				@include d($xs){
					margin-top: 30px;
					margin-bottom: 42px;
				}
		}
		.section{
			&-title{
				font-size: 60px;
				margin-top: 60px;
					@include d($xl){
						font-size: 54px;
					}
					@include d($lg){
						font-size: 48px;
					}
					@include d($md){
						font-size: 44px;
					}
					@include d($sm){
						font-size: 36px;
					}
					@include d($xs){
						font-size: 23px;
						margin-top: 83px;
					}
			}
		}
}