:root {
  --color-black:                          #000000;
  --color-black-100:                      #0D0F16;
  --color-black-200:                      #222222;
  --color-black-300:                      #6D6D6D;
  --color-white:                          #FFFFFF;
  --color-primary:                        #6AC4E6;
  --color-success:                        #00B67A;
  --color-blue:                           #024E78;
  --duration:                             .2s;
  --ease:                                 ease;
  --font-regular:                         'Montserrat-Regular';
  --font-medium:                          'Montserrat-Medium';
  --font-semibold:                        'Montserrat-SemiBold';
  --font-bold:                            'Montserrat-Bold';
}

$xl:                                      1400;
$lg:                                      1199;
$md:                                      991;
$sm:                                      767;
$xs:                                      575;