// DESKTOP WIDTH //
@mixin d($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}
// PHONE WIDTH //
@mixin m($width) {
  @media only screen and (min-width: $width + "px") {
    @content;
  }
}
// DESKTOP HEIGHT //
@mixin dh($height) {
  @media only screen and (max-height: $height + "px") {
    @content;
  }
}
// PHONE HEIGHT //
@mixin mh($height) {
  @media only screen and (min-height: $height + "px") {
    @content;
  }
}

// PHONE WIDTH, DESKTOP HEIGHT //
@mixin max-height-min-width($height, $width) {
  @media only screen and (max-height: $height + "px") and (min-width: $width + "px") {
    @content;
  }
}

// HOVERS //
@mixin hover($width) {
  @media only screen and (min-width: $width + "px"), (any-hover: hover) {
    @content;
  }
}

@mixin font($name, $weight:normal) {
  @font-face {
    font-family: $name;
    src: url("../fonts/"+ $name +".woff") format("woff"),
    url("../fonts/"+ $name +".woff2") format("woff2");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

// IMAGE COVER //
@mixin imageCover($position) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: $position;
}

// IMAGE CONTAIN //
@mixin imageContain($position) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: $position;
}