h1{
	font-size: 40px;
	font-family: var(--font-bold);
	text-transform: uppercase;
	line-height: 1.325em;
		@include d($sm){
			font-size: 34px;
		}
}

h2{
	font-size: 38px;
	font-family: var(--font-bold);
	line-height: 1.184em;
		@include d($xl){
			font-size: 32px;
		}
		@include d($sm){
			font-size: 30px;
		}
		@include d($xs){
			font-size: 26px;
		}
}

h3{
	font-size: 36px;
	font-family: var(--font-bold);
	line-height: 1em;
		@include d($lg){
			font-size: 34px;
		}
		@include d($md){
			font-size: 32px;
		}
		@include d($sm){
			font-size: 28px;
		}
}

h4{
	font-size: 34px;
	font-family: var(--font-semibold);
	line-height: 1em;
		@include d($sm){
			font-size: 30px;
		}
}

h5{
	font-size: 30px;
	font-family: var(--font-bold);
	line-height: 1em;
		@include d($lg){
			font-size: 28px;
		}
		@include d($md){
			font-size: 26px;
		}
		@include d($sm){
			font-size: 24px;
		}
		@include d($xs){
			font-size: 20px;
		}
}

h6{
	font-size: 22px;
	font-family: var(--font-bold);
	line-height: 1.227em;
}

h1, h2, h3, h4, h5, h6 {
		strong, b{
			font-weight: normal;
		}
}

p, li, span{
	font-size: inherit;
	line-height: inherit;
		strong, b{
			font-weight: normal;
		}
}

a{
	color: inherit;
		&:hover{
			text-decoration: none;
		}
}