h1{
	font-size: 40px;
	font-family: var(--font-bold);
	text-transform: uppercase;
	line-height: 1.325em;
		@include d($sm){
			font-size: 34px;
		}
}

h2{
	font-size: 38px;
	font-family: var(--font-bold);
	line-height: 1.184em;
		@include d($xl){
			font-size: 32px;
		}
		@include d($sm){
			font-size: 30px;
		}
		@include d($xs){
			font-size: 26px;
		}
}

h3{
	font-size: 36px;
	font-family: var(--font-bold);
	line-height: 1em;
		@include d($lg){
			font-size: 34px;
		}
		@include d($md){
			font-size: 32px;
		}
		@include d($sm){
			font-size: 28px;
		}
		@include d($xs){
			font-size: 23px;
		}
}

h4{
	font-size: 34px;
	font-family: var(--font-semibold);
	line-height: 1em;
		@include d($sm){
			font-size: 30px;
		}
}

h5{
	font-size: 30px;
	font-family: var(--font-bold);
	line-height: 1em;
		@include d($lg){
			font-size: 28px;
		}
		@include d($md){
			font-size: 26px;
		}
		@include d($sm){
			font-size: 24px;
		}
		@include d($xs){
			font-size: 20px;
		}
}

h6{
	font-size: 22px;
	font-family: var(--font-bold);
	line-height: 1.227em;
}

h1, h2, h3, h4, h5, h6 {
		strong, b{
			font-weight: normal;
		}
}

p, li, span{
	font-size: inherit;
	line-height: inherit;
		strong, b{
			font-weight: normal;
		}
}

a{
	color: inherit;
		&:hover{
			text-decoration: none;
		}
}

//content-pages styles

.H-1{
	font-size: 80px;
	line-height: 82px;
	font-weight: 800;
	@include d($lg){
		font-size: 60px;
		line-height: 62px;
	}
	@include d($sm){
		font-size: 50px;
		line-height: 52px;
	}
	@include d($xs){
		font-size: 40px;
		line-height: 42px;
	}
}

.H-2{
	font-size: 62px;
	line-height: 78px;
	font-weight: 800;
	&.uppercase{
		text-transform: uppercase;
	}
	@include d($lg){
		font-size: 52px;
		line-height: 68px;
	}
	@include d($sm){
		font-size: 42px;
		line-height: 58px;
	}
	@include d($xs){
		font-size: 32px;
		line-height: 48px;
	}
}

.H-3{
	font-size: 48px;
	line-height: 59px;
	font-weight: 700;
	text-transform: uppercase;
	@include d($lg){
		font-size: 38px;
		line-height: 49px;
	}
	@include d($sm){
		font-size: 28px;
		line-height: 39px;
	}
}

.par{
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	color: #fff;
	&-sm{
		font-size: 18px;
		line-height: 30px;
		@include d($sm){
			font-size: 16px;
			line-height: 20px;
		}
	}
	@include d($sm){
		font-size: 18px;
		line-height: 22px;
	}
}