/*
Settings
 */
@import "base/mixins";
@import "base/fonts";
@import "base/base";
@import "base/custom-properties";
@import "base/classes";
@import "base/typography";

/*
Libs
 */
@import "libs/grid.min.css";
@import "../../node_modules/@splidejs/splide/dist/css/splide-core.min.css";
@import "../../node_modules/locomotive-scroll/dist/locomotive-scroll.min.css";

/*
Components
 */
@import "components/index";

/*
Pages
 */
@import "pages/index";