.know{
	background-color: #DFEBF1;
	color: var(--color-black);
	padding: 100px 0;
		&-box{
			border-radius: 24px;
			background-color: var(--color-white);
			box-shadow: 20px 10px 55px rgba(212, 230, 239, 0.6);
			padding: 60px;
			height: 100%;
				&-title{
					font-size: 24px;
					text-align: center;
					font-family: var(--font-extra-bold);
					text-transform: uppercase;
					margin-bottom: 50px;
						@include d($xs){
							font-size: 20px;
							margin-bottom: 34px;
						}
				}
				&-description{
					color: #7C7C7C;
					line-height: 1.6em;
						p:not(:last-child){
							margin-bottom: 27px;
								@include d($xs){
									margin-bottom: 18px;
								}
						}
						@include d($xs){
							text-align: center;
							line-height: 1.45em;
						}
				}
				@include d($md){
					margin-bottom: 32px;
					height: auto;
				}
				@include d($xs){
					padding: 40px 30px;
					margin-bottom: 15px;
				}
		}
		@include d($xs){
			padding: 40px 0 30px;
		}
}