.description-list{
  margin: 190px 0 260px 0;
  &.align-center{
    text-align: center;
  }
  @include d($sm){
    margin: 80px 0 100px 0;
  }
  .H-2{
    text-transform: uppercase;
  }
  a{
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 34px;
    background: #2EAADA;
    border-radius: 50px;
    margin: 60px 0 0 0;
    @include d($md){
      margin: 30px 0 0 0;
      padding: 10px 15px;
    }
  }
  &__info{
    display: flex;
    margin: 60px 0 0 0;
    @include d($sm){
      margin: 40px 0 0 0;
    }
    @include d($sm){
      flex-direction: column;
    }
    &-col{
      &:nth-child(1){
        flex: 0 1 60%;
        margin: 0 145px 0 0;
        @include d($md){
          margin: 0 80px 0 0;
        }
        @include d($sm){
          margin: 0 0 50px 0;
        }
      }
      &:nth-child(2){
        flex: 0 1 40%;
      }
    }
    p, li{
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 30px 0;
      color: #44495B;
      &:last-child{
        margin: 0;
      }
    }
    ul{
      &.custom{
        li{
          padding: 0 0 0 42px;
          &:before{
            width: 28px;
            height: 22px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 28px 22px;
          }
          &:nth-child(1){
            &:before{
              background-image: url("../images/what_we_do/bank.svg");
            }
          }
          &:nth-child(2){
            &:before{
              background-image: url("../images/what_we_do/block.svg");
            }
          }
          &:nth-child(3){
            &:before{
              background-image: url("../images/what_we_do/list.svg");
            }
          }
        }
      }
    }
    li{
      font-weight: 600;
      position: relative;
      padding: 0 0 0 28px;
      &:before{
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url("../images/what_we_do/check.svg");
      }
    }
  }
}