.caption{
  margin: 118px 0 0 0;
  &.align-center{
    text-align: center;
  }
  .par{
    max-width: 870px;
    margin: 40px auto 0;
  }
  &__img{
    position: relative;
    margin: 100px 0 0 0;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(13, 15, 22, 0) 0%, #0D0F16 100%);
    }
  }
  @include d($sm){
    margin: 80px 0;
  }
}