.delivery{
  position: relative;
  margin: 100px 0 0 0;
  padding: 0 0 100px 0;
  border-bottom: 1px solid #EFF0F4;
  @include d($sm){
    margin: 80px 0 0 0;
    padding: 0 0 80px 0;
  }
  &.active{
    ul{
      max-height: 100%;
      margin: 72px -8px 0;
      opacity: 1;
    }
    .H-2{
      &:before{
        transform: translateY(-50%) rotateX(180deg);
      }
    }
  }
  .H-2{
    position: relative;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 72px;
      height: 72px;
      border-radius: 120px;
      box-shadow: 0px 10px 30px rgba(47, 53, 77, 0.05);
      background-color: #fff;
      background-image: url("../images/faq/down-arrow-black.svg");
      background-size: 24px 24px;
      background-position: center;
      background-repeat: no-repeat;
      transition: 300ms;
    }
  }
  &.double-column{
    ul{
      margin: -120px -75px;
      @include d($sm){
        margin: -60px -40px;
      }
      li{
        margin: 120px 75px;
        width: calc((100% - (75px * 4))/ 2);
        @include d($sm){
          margin: 60px 40px;
          width: calc((100% - (40px * 2)));
        }
      }
    }
  }
  ul{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-height: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 1000ms;
    @include d($md){
      margin: 22px -8px 0;
    }
    &.counter-list{
      li{
        counter-increment: step-counter;
        &:before {
          content: counter(step-counter);
          padding: 4px;
          position: absolute;
          z-index: -1;
          top: -70px;
          left: 0;
          font-size: 200px;
          line-height: 200px;
          font-weight: 800;
          color: #000;
          background: linear-gradient(180deg, rgba(73, 82, 114, 1), rgba(50, 56, 78, 0));
          -webkit-background-clip: text;
          -webkit-text-stroke: 3px transparent;
        }
      }
    }
    li{
      position: relative;
      border: 1.5px solid #EFF0F4;
      border-radius: 16px;
      padding: 40px;
      margin: 8px;
      width: calc((100% - (8px * 6))/ 3);
      align-self: flex-start;
      min-height: 365px;
      &.show-text{
        p{
          max-height: 132px;
          transition: 300ms;
          overflow: hidden;
        }
      }
      &.active{
        p{
          overflow: hidden;
          transition: 300ms;
        }
        span{
          &:before{
            content: '';
            transform: rotate(180deg);
          }
        }
      }
      @include d($md){
        width: calc((100% - (8px * 4))/ 2);
      }
      @include d($sm){
        width: calc((100% - (8px * 2)));
      }
      p, strong{
        margin: 0 0 32px 0;
      }
      p{
        font-size: 15px;
        line-height: 22px;
        color: #727683;
        transition: 300ms;
      }
      strong{
        min-height: 60px;
        text-transform: capitalize;
        color: var(--color-black-dark);
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      span{
        position: relative;
        cursor: pointer;
        font-size: 15px;
        line-height: 22px;
        color: #00B8FF;
        padding: 0 16px 0 0;
        &:before{
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          top: 5px;
          right: 0;
          background-image: url("../images/faq/down-arrow.svg");
          background-repeat: no-repeat;
          background-size: 12px 12px;
          background-position: center center;
        }
      }
    }
  }
}