.delivery{
  margin: 160px 0;
  @include d($sm){
    margin: 80px 0;
  }
  &.double-column{
    ul{
      margin: -120px -75px;
      @include d($sm){
        margin: -60px -40px;
      }
      li{
        margin: 120px 75px;
        width: calc((100% - (75px * 4))/ 2);
        @include d($sm){
          margin: 60px 40px;
          width: calc((100% - (40px * 2)));
        }
      }
    }
  }
  ul{
    overflow: hidden;
    margin: 40px -38px 0;
    display: flex;
    flex-wrap: wrap;
    @include d($md){
      margin: 30px -28px 0;
    }
    li{
      position: relative;
      &.show-text{
        p{
          max-height: 132px;
          transition: 300ms;
          overflow: hidden;
        }
      }
      &.active{
        p{
          overflow: hidden;
          transition: 300ms;
        }
        span{
          &:before{
            content: '';
            transform: rotate(180deg);
          }
        }
      }
      counter-increment: step-counter;
      margin: 40px 38px;
      width: calc((100% - (38px * 6))/ 3);
      @include d($md){
        margin: 30px 28px;
        width: calc((100% - (28px * 4))/ 2);
      }
      @include d($sm){
        width: calc((100% - (28px * 2)));
      }
      p, strong{
        margin: 0 0 32px 0;
      }
      p{
        font-size: 15px;
        line-height: 22px;
        color: #727683;
        transition: 300ms;
      }
      strong{
        min-height: 60px;
        text-transform: capitalize;
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      span{
        position: relative;
        cursor: pointer;
        font-size: 15px;
        line-height: 22px;
        color: #00B8FF;
        padding: 0 16px 0 0;
        &:before{
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          top: 5px;
          right: 0;
          background-image: url("../images/faq/down-arrow.svg");
          background-repeat: no-repeat;
          background-size: 12px 12px;
          background-position: center center;
        }
      }
      &:before {
        content: counter(step-counter);
        padding: 4px;
        position: absolute;
        z-index: -1;
        top: -100px;
        left: 0;
        font-size: 200px;
        line-height: 200px;
        font-weight: 800;
        color: #000;
        background: linear-gradient(180deg, rgba(73, 82, 114, 1), rgba(50, 56, 78, 0));
        -webkit-background-clip: text;
        -webkit-text-stroke: 3px transparent;
      }
    }
  }
}