.air-black{
  position: relative;
  margin: 150px 0 200px 0;
  @include d($md){
    margin: 150px 0 0 0;
  }
  &.reverse{
    .air-black{
      &__content{
        &-editor{
          margin: 0 0 0 auto;
        }
      }
      &__img{
        right: initial;
        left: 0;
        top: -150px;
      }
    }
  }
  &__content{
    position: relative;
    padding: 0 0 0 60px;
    @include d($md){
      padding: 0;
    }
    &-editor{
      position: relative;
      z-index: 2;
      max-width: 644px;
      color: rgba(68, 73, 91, 1);
      @include d($lg){
        max-width: 100%;
      }
      h2{
        font-size: 64px;
        line-height: 78px;
        text-transform: uppercase;
        margin: 0 0 40px 0;
        font-weight: 800;
        color: #0D0F16;
        @include d($lg){
          font-size: 54px;
          line-height: 68px;
        }
        @include d($sm){
          font-size: 44px;
          line-height: 58px;
        }
        @include d($xs){
          font-size: 34px;
          line-height: 48px;
        }
      }
      p{
        color: rgba(68, 73, 91, 1);
        font-size: 18px;
        line-height: 22px;
        margin: 61px 0 24px 0;
      }
      ul{
        li{
          position: relative;
          counter-increment: step-counter;
          font-size: 16px;
          line-height: 28px;
          margin: 28px 0 0 0;
          padding: 0 0 0 46px;
          &:before{
            content: counter(step-counter);
            position: absolute;
            left: 0;
            top: 0;
            color: var(--color-primary);
            text-align: center;
            font-weight: bold;
            font-size: 80%;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid var(--color-primary);
          }
        }
      }
    }
  }
  &__img{
    position: absolute;
    top: -64px;
    right: 0;
    width: 592px;
    height: 707px;
    @include d($lg){
      display: none;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__absolute-text{
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    p{
      font-size: 200px;
      line-height: 200px;
      font-weight: 800;
      text-transform: uppercase;
      white-space: nowrap;
      color: #fff;
      background: linear-gradient(180deg, rgba(73, 82, 114, 0.15), rgba(50, 56, 78, 0));
      -webkit-background-clip: text;
      -webkit-text-stroke: 3px transparent;
      @include d($md){
        font-size: 120px;
        line-height: 120px;
      }
    }
  }
  &__shipping{
    max-width: 644px;
    color: rgba(68, 73, 91, 1);
    margin: 60px 0 0 0;
    @include d($lg){
      max-width: 100%;
    }
    &:hover{
      h4{
        &:before{
          background-image: url("../images/refunds_and_returns/minuse-ico.svg");
        }
      }
      ul{
        max-height: 100%;
        opacity: 1;
      }
    }
    h4{
      position: relative;
      display: block;
      font-weight: bold;
      cursor: pointer;
      margin: 0 0 35px 0;
      &:before{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transition: 300ms;
        transform: translateY(-50%);
        height: 18px;
        width: 18px;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../images/refunds_and_returns/plus-ico.svg");
      }
      @include d($md){
        font-size: 18px;
        line-height: 22px;
      }
    }
    ul{
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: 300ms;
      li{
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}