.assortment{
	padding: 172px 0 0;
	margin-bottom: -106px;
	z-index: 1;
		&-item{
			margin: 50px 0;
				&:nth-child(even){
					[class^=col-]{
						&:nth-child(1){
								@include m($sm + 1){
									order: 2;
								}
						}
						&:nth-child(2){
								@include m($sm + 1){
									order: 1;
								}
						}
					}
				}
				&:nth-child(1){
					.assortment{
							&-thumb {
								text-align: right;
									&:before {
										background-image: url(../images/assortment/shadow-grey.svg);
									}
									img, picture {
											@include m($md + 1){
												max-width: 448px;
												margin-left: auto;
											}
									}
							}
							&-description{
									@include m($md + 1){
										margin-left: 74px;
										justify-content: flex-start;
										padding-top: 22px;
									}
							}
					}
				}
				&:nth-child(2){
					.assortment{
						&-thumb {
								&:before {
									background-image: url(../images/assortment/shadow-black.svg);
								}
								@include m($md + 1){
									margin: -43px 0 0 -219px;
									height: 560px;
								}
						}
						&-description{
								@include m($md + 1){
									padding-left: 115px;
									max-width: 100%;
									padding-bottom: 50px;
								}
								@include d($lg){
									padding-left: 30px;
								}
								@include d($sm){
									padding-left: 0;
								}
						}
					}
				}
				&:nth-child(3){
					.assortment{
						&-thumb {
								&:before {
									background-image: url(../images/assortment/shadow-red.svg);
								}
								@include m($md + 1){
									margin-top: -95px;
									margin-right: -174px;
									height: 570px;
								}
						}
						&-description{
							@include m($md + 1){
								margin-left: 86px;
								justify-content: flex-start;
								padding-top: 27px;
							}
						}
					}
				}
				&:nth-child(4){
					.assortment{
						&-thumb {
								&:before {
									background-image: url(../images/assortment/shadow-purple.svg);
								}
								@include m($md + 1){
									margin-top: -95px;
									height: 600px;
								}
								img, picture{
									margin-left: 0;
									max-width: 524px;
								}
						}
						&-description{
							@include m($md + 1){
								margin-left: 142px;
								margin-top: -32px;
							}
						}
					}
				}
				&:last-child{
					margin-bottom: 0;
						.assortment{
								&-description {
									justify-content: flex-start;
								}
								&-thumb{
									img, picture{
										filter: drop-shadow(0.911158px 26.4236px 36.4463px rgba(0, 0, 0, 0.25));
									}
								}
						}
				}
		}
		&-thumb{
			height: 528px;
			position: relative;
				&:before{
					content: '';
					position: absolute;
					inset: -100px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					pointer-events: none;
				}
				img{
					@include imageContain(center);
					position: relative;
					z-index: 1;
				}
				@include d($xl){
					height: 480px;
				}
				@include d($lg){
					height: 45vw;
				}
				@include d($md){
					height: 60vw;
				}
		}
		&-description{
			max-width: 484px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
				.paragraph{
					margin: 18px 0 13px;
					max-width: 95%;
						& ~ [class^="h-"]{
							margin-top: 30px;
						}
				}
				.progress{
					padding: 15px 0 6px;
				}
				@include d($sm){
					max-width: 100%;
				}
		}
		@include d($xl){
			margin-bottom: -50px;
			padding: 160px 0 0;
		}
		@include d($md){
			margin-bottom: 0;
			padding: 100px 0;
		}
}