.compare{
	overflow: hidden;
	padding: 75px 0 60px;
	background-color: var(--color-white);
		&:before{
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(180deg, #101314 21.88%, rgba(25, 105, 149, 0.47) 100%, rgba(51, 81, 98, 0.57) 100%);
			pointer-events: none;
				@include d($md){
					background: linear-gradient(180deg, #8FB4C9 0%, #000000 100%);
				}
		}
		&-wrap{
			display: flex;
			justify-content: center;
		}
		&-list{
			padding-top: 60px;
			visibility: visible;
				&-item{
					background: rgba(255, 255, 255, 0.2);
					border-radius: 14px;
					margin: 14px 14px 22px;
					padding: 28px;
						&.active{
							//background-color: var(--color-white);
							box-shadow: 0 2px 18px var(--color-white);
							//color: var(--color-black);
							//	.hr{
							//		background-color: #E6E6E6;
							//	}
								.compare{
										&-title{
											font-family: var(--font-bold);
										}
										&-item{
											//color: #171717;
												&:before{
													background-image: url(../images/check.svg);
												}
										}
										&-price{
											//color: #1B617B;
										}
								}
						}
						&:nth-child(1){
							margin-left: 0;
								//@include d($md){
								//	margin-left: 6vw;
								//}
								//@include d($xs){
								//	margin-left: 2vw;
								//}
						}
						&:last-child{
							margin-right: 0;
								//@include d($md){
								//	margin-right: 6vw;
								//}
								//@include d($xs){
								//	margin-right: 2vw;
								//}
						}
						.rating-value{
							justify-content: center;
						}
						.hr{
							@include d($md){
								opacity: 0;
							}
							@include d($sm){
								margin: 8px 0;
							}
						}
						@include m($md + 1){
							max-width: 280px;
						}
						@include d($lg){
							max-width: 252px;
						}
						@include d($md) {
							width: 88vw;
							max-width: 100%;
						}
						@include d($sm){
							padding: 28px 15px 25px;
							margin-bottom: 20px;
						}
						@include d($xs){
							margin: 22px 10px;
							width: 80vw;
						}
				}
				@include m($md + 1){
					display: flex;
				}
				@include d($md){
					padding-bottom: 70px;
					margin-right: -15px;
					margin-left: -15px;
					width: calc(100% + 30px);
				}
				@include d($xs){
					padding-top: 10px;
					padding-bottom: 22px;
				}
		}
		&-thumb{
			height: 144px;
			text-align: center;
			margin-bottom: 18px;
				@include d($md){
					height: 35vw;
						img{
							@include imageContain(center);
						}
				}
				@include d($xs){
					height: 166px;
				}
		}
		&-title{
			text-align: center;
		}
		&-price{
			text-align: center;
			margin-top: 10px;
			padding-bottom: 10px;
			color: var(--color-white);
		}
		&-item{
			font-family: var(--font-semibold);
			position: relative;
				&-label{
					margin-right: 15px;
					font-family: var(--font-regular);
						@include m($md + 1){
							display: none;
						}
						@include d($md){
							width: 40%;
							text-align: right;
						}
				}
				&-value{
						@include d($md){
							width: 60%;
						}
				}
				.rating-value{
					justify-content: flex-start;
				}
				@include m($md + 1){
					padding-left: 26px;
						&:before{
							content: '';
							position: absolute;
							top: 3px;
							left: 0;
							width: 20px;
							height: 20px;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
							background-image: url(../images/close.svg);
							pointer-events: none;
						}
				}
				@include d($md){
					display: flex;
					align-items: flex-start;
				}
		}
		&-detail{
			padding-top: 266px;
				.compare{
					&-item{
						padding-left: 0;
						&:before{
							display: none;
						}
						&-label{
							display: block;
							font-family: var(--font-semibold);
						}
					}
				}
				.hr{
					background-color: #D7D7D7;
				}
				@include d($md){
					display: none;
				}
		}
		.splide{
			&__list{
				@include m($md + 1){
					//display: flex !important;
				}
			}
			&__track {
				//@include d($md) {
				//	padding-right: 15px !important;
				//}
				//@include d($xs){
				//	padding-right: 9vw !important;
				//	padding-left: 9vw !important;
				//}
			}
		}
		.h-4{
			&.font-bold{
				font-family: var(--font-bold);
			}
		}
		@include d($md){
			background-color: var(--color-white);
		}
		@include d($xs){
			padding: 17px 0 50px;
		}
}