.compare{
	overflow: hidden;
	padding: 75px 0;
		&:before{
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(180deg, #101314 21.88%, rgba(25, 105, 149, 0.47) 100%, rgba(51, 81, 98, 0.57) 100%);
		}
		&-wrap{
			display: flex;
			justify-content: center;
		}
		&-list{
			padding-top: 77px;
				&-item{
					//max-width: 265px;
					background: rgba(255, 255, 255, 0.2);
					border-radius: 14px;
					margin: 0 14px 14px;
					padding: 28px;
						&.active{
							background-color: var(--color-white);
							box-shadow: 0 4px 14px var(--color-white);
							color: var(--color-black);
								.hr{
									background-color: #E6E6E6;
								}
								.compare{
										&-title{
											font-family: var(--font-bold);
										}
										&-item{
											&:before{
												background-image: url(../images/check.svg);
											}
										}
								}
						}
						.rating-value{
							justify-content: center;
						}
						.hr{
							@include d($sm){
								margin: 8px 0;
							}
						}
						@include m($md + 1){
							max-width: 252px;
						}
						@include d($md) {
							width: 80vw;
						}
						@include d($sm){
							padding: 28px 28px 15px;
							margin-bottom: 20px;
						}
				}
				@include m($md + 1){
					display: flex;
				}
				@include d($md){
					padding-bottom: 70px;
					margin-right: -15px;
					margin-left: -15px;
					width: calc(100% + 30px);
				}
		}
		&-thumb{
			height: 144px;
			text-align: center;
			margin-bottom: 18px;
				@include d($md){
					height: 35vw;
						img{
							@include imageContain(center);
						}
				}
		}
		&-title{
			text-align: center;
		}
		&-item{
			font-family: var(--font-semibold);
			position: relative;
				&-label{
					margin-right: 15px;
					font-family: var(--font-regular);
						@include m($md + 1){
							display: none;
						}
				}
				&-value{
				
				}
				@include m($md + 1){
					padding-left: 26px;
						&:before{
							content: '';
							position: absolute;
							top: 3px;
							left: 0;
							width: 20px;
							height: 20px;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
							background-image: url(../images/close.svg);
							pointer-events: none;
						}
				}
				@include d($md){
					display: flex;
					align-items: center;
				}
		}
		&-detail{
			padding-top: 266px;
				.compare{
					&-item{
						padding-left: 0;
						&:before{
							display: none;
						}
						&-label{
							display: block;
						}
					}
				}
				.hr{
					background-color: #D7D7D7;
				}
				@include d($md){
					display: none;
				}
		}
		.splide{
			&__list{
				@include m($md + 1){
					//display: flex !important;
				}
			}
			&__track {
				@include d($md) {
					padding-right: 15px !important;
				}
			}
		}
}