.features{
	padding: 88px 0 80px;
		&-box{
			margin-top: 55px;
			margin-bottom: 20px;
				&-icon{
					height: 54px;
						@include d($xs){
							text-align: center;
						}
				}
				&-title{
					margin-bottom: 12px;
				}
				&-description{
					max-width: 210px;
						@include d($sm){
							display: none;
						}
				}
				&-value{
					display: flex;
					align-items: flex-end;
					margin-top: 8px;
					margin-bottom: 2px;
				}
		}
		&-detail{
			color: rgba(249, 253, 255, 0.73);
		}
		.h{
				&-4{
					&:nth-child(3){
						@include d($lg){
							font-size: 20px;
						}
					}
				}
		}
}

.value{
	&-item{
		font-size: 68px;
		font-family: var(--font-medium);
		display: inline-block;
		line-height: .9em;
		margin-right: 5px;
			@include d($lg){
				font-size: 60px;
			}
	}
	&-label{
		text-transform: uppercase;
		font-size: 18px;
		font-family: var(--font-medium);
		display: inline-block;
	}
}