.hero.air{
		.hero{
				&-content{
					//padding-top: 15vh;
					padding-bottom: 4vh;
					max-width: 370px;
						@include d($sm){
							padding-top: 125px;
						}
						@include d($md){
							max-width: 100%;
						}
				}
		}
}