.peace{
	padding: 30px 0 55px;
	color: var(--color-black);
	overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			inset: 0;
			background-color: #E8F9FF;
		}
		&-list{
			padding-top: 120px;
		}
		&-box{
			background-color: var(--color-white);
			border-radius: 40px;
			box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
			padding: 45px 40px 35px 45px;
			height: 100%;
			position: relative;
				&-header{
					padding-right: 80px;
					color: #585858;
				}
				&-icon{
					position: absolute;
					height: 53px;
					top: 40px;
					right: 45px;
						img{
							@include imageContain(center);
						}
				}
				.paragraph{
					color: #6D6D6D;
				}
		}
}