.peace{
	padding: 30px 0 55px;
	color: var(--color-black);
	overflow: hidden;
	margin-top: -100px;
		&:before{
			content: '';
			position: absolute;
			inset: 0;
			background-color: #E8F9FF;
		}
		&-list{
			padding-top: 123px;
				@include d($sm){
					padding-top: 50px;
				}
		}
		&-box{
			background-color: var(--color-white);
			border-radius: 40px;
			box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
			padding: 52px 40px 30px 45px;
			height: 100%;
			position: relative;
				&-header{
					padding-right: 90px;
					color: #585858;
				}
				&-icon{
					position: absolute;
					height: 43px;
					top: 50px;
					right: 85px;
						img{
							@include imageContain(center);
						}
				}
				.paragraph{
					color: #6D6D6D;
				}
				@include d($md){
					margin-bottom: 30px;
					height: auto;
				}
		}
		.h-1{
			&.font-bold-extra{
				font-family: var(--font-extra-bold);
			}
		}
		@include d($md){
			margin-top: 0;
		}
		@include d($sm){
			padding: 50px 0;
		}
}