.product{
	background-color: var(--color-white);
	color: var(--color-black-200);
	padding: 75px 0 135px;
		&-photos{
		
		}
		&-description{
			padding-left: 17px;
				&-text{
					max-width: 500px;
						p{
							&:not(:last-child){
								margin-bottom: 15px;
							}
						}
						&.font-18{
							@include d($xs){
								font-size: 14px;
							}
						}
						@include d($xs){
							margin-top: -3px;
						}
				}
				&-price{
					margin: 25px 0 40px;
				}
				&-action{
					margin: 41px 0 15px;
						.btn{
							flex: 1;
								&-grey{
									font-size: 15px;
								}
						}
				}
				&-attention{
					border-radius: 42px;
					background-color: #E8F9FF;
					padding: 20px 30px;
					max-width: 530px;
				}
				&-item{
					color: #222222;
				}
				.logo{
					margin: 18px 0 5px;
						@include d($xs){
							margin-bottom: 0;
						}
				}
				.btn{
					&-grey{
						@include d($md){
							max-width: 58px;
								.btn-icon{
									& ~ .btn-title{
										display: none;
									}
								}
						}
					}
				}
				.h-4{
					&.font-bold{
						font-family: var(--font-bold);
					}
				}
				@include d($md){
					padding-left: 0;
					padding-top: 10px;
				}
		}
		&-carousel{
			background-color: #F0F9FE;
				&-item{
					height: 502px;
					padding-bottom: 20px;
						img{
							@include imageContain(center);
						}
						@include d($lg){
							height: 42vw;
						}
						@include d($md){
							height: 70vw;
						}
						@include d($sm){
							height: 90vw;
						}
				}
		}
		&-additional{
			margin-bottom: 10px;
				&-icon{
					width: 78px;
					height: 28px;
					margin-right: 15px;
				}
		}
		&-video{
			height: 320px;
			margin-top: 30px;
			background-color: #000000;
				@include d($xl){
					height: 23vw;
				}
				@include d($md){
					height: 60vw;
					display: none;
				}
		}
		&-thumb{
			height: 320px;
			margin-top: 30px;
				img, picture{
					@include imageCover(center);
				}
				@include d($xl){
					height: 23vw;
				}
				@include d($md){
					height: 40vw;
					display: none;
				}
		}
		&-banner{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&-detail{
			color: var(--color-black);
				&-item{
					margin-bottom: 37px;
				}
				&-icon{
					height: 32px;
					margin-bottom: 17px;
				}
				&-title{
					margin-bottom: 16px;
				}
		}
		&.__2{
			padding: 84px 0 43px;
				.product{
						&-additional{
							color: #6D6D6D;
						}
						&-description{
							&-price{
								margin-top: 33px;
								justify-content: center;
							}
						}
						&-banner{
							@include d($xs){
								margin-bottom: -30px;
							}
						}
				}
				@include d($xs){
					padding: 84px 0 10px;
				}
		}
		.accordion{
			margin-top: 48px;
		}
		.list{
			display: flex;
			flex-wrap: wrap;
			max-width: 530px;
			margin: 35px 0 7px;
				&-item{
					width: 33.33%;
					position: relative;
					font-family: var(--font-medium);
					padding-left: 30px;
					padding-right: 20px;
					margin-bottom: 26px;
					line-height: 1.2em;
						&:before{
							content: attr(data-value);
							position: absolute;
							top: 0;
							left: 0;
							font-family: var(--font-bold);
							color: #6797B1;
							font-size: 16px;
						}
						@include d($sm){
							width: 50%;
						}
				}
				@include d($xs){
					margin-top: 0;
				}
				@include d($xs){
					padding-left: 18px;
				}
		}
		@include d($md){
			padding: 50px 0;
		}
		@include d($xs){
			padding: 30px 0;
		}
}

.colors{
	&-checkbox{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 10px 0 30px;
			&-item{
				margin-bottom: 10px;
					&:not(:last-child){
						margin-right: 10px;
							@include d($xs){
								margin-right: 2px;
							}
					}
					.color-checkbox{
						min-width: 83px;
							@include m($md + 1){
								min-width: 102px;
							}
					}
			}
	}
}

.color-checkbox{
	height: 42px;
	border-radius: 20px;
	display: inline-flex;
	align-items: center;
	padding: 7px;
	position: relative;
	z-index: 1;
		&-item{
			&:checked ~ .color-checkbox-border{
				border-width: 2px;
				border-color: var(--color-primary);
				background-color: #E7F8FF;
			}
		}
		&-title{
			margin-right: 10px;
				@include d($xs){
					font-size: 10px;
					margin-right: 0;
				}
		}
		&-icon{
			width: 27px;
			height: 27px;
			border-radius: 50%;
			margin-right: 8px;
			position: relative;
			overflow: hidden;
			pointer-events: none;
				//&:before{
				//	content: '';
				//	position: absolute;
				//	inset: 0 0 -5px 0;
				//	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
				//	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 100%);
				//	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 100%);
				//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				//}
				@include d($xs){
					width: 22px;
					height: 22px;
					margin-right: 5px;
				}
		}
		&-border{
			position: absolute;
			inset: 0;
			border-radius: 20px;
			border: 1px #EFEFEF solid;
			transition: all var(--duration) var(--ease);
			z-index: -1;
		}
		@include d($xs){
			height: 34px;
		}
}