.structure{
	margin: 150px 0 92px;
		&-thumb{
			position: relative;
				&.__1{
					max-width: 585px;
						&:before{
							content: '';
							position: absolute;
							inset: -250px;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center left;
							background-image: url(../images/structure/shadow-1.svg);
							z-index: -1;
							pointer-events: none;
						}
						@include m($lg + 1){
							margin-left: 65px;
						}
				}
				&.__2{
					max-width: 640px;
						@include m($md + 1){
							margin-left: -45px;
							margin-top: 34px;
						}
				}
		}
		&-description{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
				&-title{
					margin-bottom: 25px;
				}
				&.__1{
					max-width: 790px;
					margin-bottom: 228px;
					margin-top: -321px;
					margin-left: -21px;
					justify-content: flex-start;
						@include d($lg){
							margin-top: -300px;
						}
						@include d($md){
							margin-top: -230px;
						}
						@include d($sm){
							margin-top: -320px;
							margin-bottom: 40vw;
							//margin-top: 10px;
							//margin-bottom: 70px;
						}
						@include d($xs){
							margin-top: -55vw;
							margin-left: -40px;
						}
				}
				&.__2{
					max-width: 500px;
					justify-content: flex-start;
					padding-top: 38px;
				}
				.paragraph{
					p:not(:last-child){
						margin-bottom: 35px;
					}
				}
		}
		@include d($md){
			margin: 100px 0;
		}
}