body{
	background-color: var(--color-black-bg);
	color: var(--color-white);
	font-family: var(--font-regular);
	line-height: 1.714em;
	font-size: 14px;
}

.theme{
	&-light{
		.section-dark{
			opacity: 0 !important;
		}
	}
	&-dark{
		.section-white{
			opacity: 0 !important;
		}
	}
}

#wrapper{
	position: relative;
	overflow: hidden;
}

.section{
	position: relative;
	transition: opacity var(--duration) var(--ease);
		&-white{
			//background-color: var(--color-white);
		}
		&-dark{
			//background-color: var(--color-black);
		}
}

.container{
	max-width: 1350px;
	padding-left: 15px;
	padding-right: 15px;
}

.logo{
	display: inline-block;
		&-lg{
			width: 291px;
		}
		&-xl{
			width: 336px;
				@include d($lg){
					width: 290px;
				}
				@include d($xs){
					width: 255px;
				}
		}
}

.carousel{
		&-item{
			min-height: 550px;
			height: 80vh;
				img{
					@include imageCover(center);
				}
				@include d($xl){
					min-height: 0;
				}
				@include d($md){
					height: 500px;
				}
				@include d($sm){
					height: 385px;
				}
			@include d($xs){
					height: 285px;
				}
		}
}

.price{
		&-old{
			text-decoration: line-through;
			color: #BABABA;
		}
		@include d($xs){
			font-size: 28px;
		}
}

.paragraph{
		p{
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
}

.hr{
	margin: 19px 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.32);
	border: none;
}

.payments{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
		&-item{
			width: 64px;
			height: 42px;
			background: rgba(0, 0, 0, 0.25);
			border-radius: 8px;
			position: relative;
			margin: 4px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
}

.social{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -7px;
		&-item{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #0077A5;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 7px;
			transition: background-color var(--duration) var(--ease);
				@include hover($md){
					&:hover{
						background-color: var(--color-primary);
					}
				}
		}
}
.subscribe{
	padding-top: 15px;
}

.copyright{
	padding: 45px 0 3px;
	opacity: .7;
}

.list{
		li{
			display: flex;
			justify-content: space-between;
			font-size: 15px;
			font-family: var(--font-medium);
				&:not(:last-child){
					margin-bottom: 7px;
				}
		}
		&-bg{
			background-color: #efefef;
			padding: 3px 20px;
			border-radius: 8px;
				li{
					margin: 0;
					padding: 12px 0;
						&:not(:last-child){
							border-bottom: 1px var(--color-white) solid;
						}
						p{
							line-height: 1.2em;
						}
						img{
							width: 30px;
							height: 30px;
							min-width: 30px;
							margin-right: 15px;
						}
				}
		}
		&-18{
				li{
					font-size: 18px;
					font-family: var(--font-semibold);
				}
		}
}

.fieldset{
	margin-bottom: 7px;
}