.footer{
	background: radial-gradient(72.09% 72.09% at 50% 0%, #84AABF 0%, #003C5F 52.6%, #000000 100%);
	padding: 62px 0 30px;
		a:not(.social-item){
			transition: color var(--duration) var(--ease);
			@include hover($md){
				&:hover{
					color: var(--color-primary);
				}
			}
		}
		li{
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
		.payments{
			padding: 0 0 16px;
				@include m($md + 1){
					margin-top: -75px;
				}
				@include d($md){
					justify-content: center;
					margin-top: 20px;
				}
		}
		.rating-row{
			@include d($md){
				justify-content: center;
			}
		}
}