.hero{
	background-color: var(--color-black-100);
		&-banner{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			text-align: right;
				img, picture{
					height: 100%;
						@include d($md){
							@include imageCover(left center);
						}
				}
				@include d($md){
					top: 148px;
					height: auto;
					bottom: 90px;
						&:before{
							content: '';
							position: absolute;
							pointer-events: none;
							top: 0;
							left: 0;
							width: 100%;
							height: 100px;
							background: -moz-linear-gradient(top,  rgba(13,15,22,1) 0%, rgba(13,15,22,0) 100%);
							background: -webkit-linear-gradient(top,  rgba(13,15,22,1) 0%,rgba(13,15,22,0) 100%);
							background: linear-gradient(to bottom,  rgba(13,15,22,1) 0%,rgba(13,15,22,0) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0f16', endColorstr='#000d0f16',GradientType=0 );
						}
						&:after{
							content: '';
							position: absolute;
							pointer-events: none;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100px;
							background: -moz-linear-gradient(top,  rgba(13,15,22,0) 0%, rgba(13,15,22,1) 100%);
							background: -webkit-linear-gradient(top,  rgba(13,15,22,0) 0%,rgba(13,15,22,1) 100%);
							background: linear-gradient(to bottom,  rgba(13,15,22,0) 0%,rgba(13,15,22,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000d0f16', endColorstr='#0d0f16',GradientType=0 );
						}
				}
		}
		&-content{
			height: 100vh;
			min-height: 900px;
			//min-height: 700px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
				.logo{
					margin-bottom: 32px;
				}
				.rating{
					margin-top: 80px;
						@include d($sm){
							position: absolute;
							margin-top: 0;
							left: 15px;
							//top: 52vh;
							top: 350px;
						}
				}
				@include d($xl){
					min-height: 600px;
				}
				@include d($sm){
					//min-height: 100vh;
					height: 645px;
					align-items: center;
					justify-content: flex-start;
					text-align: center;
				}
		}
		.logo{
			@include d($sm){
				display: none;
			}
		}
}