.nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 0;
		.link{
				&:not(:last-child){
					margin-right: 48px;
						@include d($lg){
							margin-right: 40px;
						}
				}
		}
}