.nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 0;
			ul{
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
		.link,
		li{
				&:not(:last-child){
					margin-right: 48px;
						@include d($lg){
							margin-right: 40px;
						}
				}
		}
}