.preloader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #171717;
	z-index: 5;
		&-light{
			max-width: 1440px;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			pointer-events: none;
		}
		&-box{
			max-width: 420px;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
				p{
					line-height: 1.364em;
				}
				.logo{
					margin-top: 40px;
				}
				@include d($xl){
					max-width: 380px;
				}
				@include d($lg){
					max-width: 320px;
				}
				@include d($sm){
					max-width: 90%;
				}
		}
		&-item{
			transform: translateY(100%);
		}
}