.rating{
		&-row{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
				.rating{
					&-value{
						margin-top: 0;
						margin-left: 10px;
						margin-right: 10px;
					}
				}
		}
		&-logo{
			width: 96px;
			height: 22px;
			display: inline-block;
		}
		&-value{
			display: flex;
			align-items: center;
			margin-top: 5px;
				&-item{
					height: 22px;
					display: flex;
					flex-wrap: nowrap;
						& + .rating-value-label{
							margin-left: 10px;
						}
						&[data-rating="0.5"]{
							.rating-star{
								&:nth-child(1){
									&:before{
										width: 50%;
									}
								}
							}
						}
						&[data-rating="1"]{
							.rating-star{
								&:nth-child(1){
									&:before{
										width: 100%;
									}
								}
							}
						}
						&[data-rating="1.5"]{
							.rating-star{
								&:nth-child(1){
									&:before{
										width: 100%;
									}
								}
								&:nth-child(2){
									&:before{
										width: 50%;
									}
								}
							}
						}
						&[data-rating="2"]{
							.rating-star {
								&:nth-child(1),
								&:nth-child(2){
									&:before {
										width: 100%;
									}
								}
							}
						}
						&[data-rating="2.5"]{
							.rating-star {
								&:nth-child(1),
								&:nth-child(2){
									&:before {
										width: 100%;
									}
								}
								&:nth-child(3){
									&:before{
										width: 50%;
									}
								}
							}
						}
						&[data-rating="3"]{
							.rating-star {
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3){
									&:before {
										width: 100%;
									}
								}
							}
						}
						&[data-rating="3.5"]{
							.rating-star {
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3){
									&:before {
										width: 100%;
									}
								}
								&:nth-child(4){
									&:before{
										width: 50%;
									}
								}
							}
						}
						&[data-rating="4"]{
							.rating-star {
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3),
								&:nth-child(4){
									&:before {
										width: 100%;
									}
								}
							}
						}
						&[data-rating="4.5"]{
							.rating-star {
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3),
								&:nth-child(4){
									&:before {
										width: 100%;
									}
								}
								&:nth-child(5){
									&:before{
										width: 50%;
									}
								}
							}
						}
						&[data-rating="5"]{
							.rating-star {
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3),
								&:nth-child(4),
								&:nth-child(5){
									&:before {
										width: 100%;
									}
								}
							}
						}
				}
				&-label{
				
				}
		}
		&-star{
			height: 22px;
			width: 24px;
			background-color: #DCDCE6;
			color: var(--color-white);
			position: relative;
				&:before{
					content: '';
					position: absolute;
					width: 0;
					height: 100%;
					left: 0;
					top: 0;
					background-color: var(--color-success);
					pointer-events: none;
				}
				&:not(:last-child){
					margin-right: 2px;
				}
				.svg{
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -8px;
					margin-left: -8px;
				}
		}
		&-title{
			display: inline-block;
			line-height: 1em;
		}
		/*
		Sizes
		 */
		&-xl{
			.rating{
				&-star{
					width: 40px;
					height: 40px;
						.svg{
							margin-top: -13px;
							margin-left: -13px;
						}
				}
				&-value{
					&-item{
						height: 30px;
					}
				}
			}
		}
		img{
			height: 100px;
		}
}