.splide{
	&.pagination-carousel{
		margin: 140px 0;
		@include d($sm){
			padding: 0 0 64px 0;
		}
		@include d($md){
			margin: 80px 0;
		}
		.splide{
			&__top{
				position: relative;
				display: flex;
				align-items: center;
				height: 78px;
				margin: 0 0 60px 0;
				@include d($sm){
					position: static;
					margin: 0 0 40px 0;
					height: initial;
				}
			}
			&__title{
				font-size: 64px;
				line-height: 78px;
				font-weight: 800;
				text-transform: uppercase;
				@include d($lg){
					font-size: 48px;
				}
				@include d($sm){
					font-size: 32px;
					line-height: 34px;
				}
			}
			&__slide{
				height: inherit;
				max-height: 100%;
				&.reviews-carousel-item{
					background: initial;
				}
				.video{
					height: 240px;
				}
				strong{
					display: block;
					font-size: 20px;
					line-height: 24px;
					font-weight: 600;
					margin: 24px 0 0 0;
					@include d($sm){
						text-align: center;
					}
				}
				p{
					font-size: 15px;
					line-height: 22px;
					color: #727683;
					margin: 8px 0 0 0;
					@include d($sm){
						text-align: center;
					}
				}
			}
			&__arrows{
				top: 30px;
				right: 0;
				height: 18px;
				left: initial;
				transform: inherit;
				margin: 0 -50px;
				@include d($sm){
					display: flex;
					justify-content: space-between;
					align-items: center;
					top: initial;
					bottom: 0;
					margin: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 82px;
					height: 24px;
				}
			}
			&__arrow{
				background: initial;
				border: initial;
				border-radius: initial;
				padding: 0;
				width: 11px;
				height: 18px;
				margin: 0 50px;
				@include d($sm){
					margin: 0;
				}
			}
			&__fractions{
				flex: 0 1 100%;
				text-align: right;
				font-size: 36px;
				line-height: 44px;
				font-weight: 600;
				padding: 0 40px 0 0;
				@include d($sm){
					position: absolute;
					font-size: 20px;
					line-height: 24px;
					bottom: 0;
					padding: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
		&__pagination{
			position: absolute;
			bottom: 8px;
			left: 50%;
			transform: translateX(-50%);
				li{
					width: 10px;
					height: 10px;
						&:not(:last-child){
							margin-right: 12px;
						}
				}
				button{
					width: 100%;
					height: 100%;
					padding: 0;
					border: none;
					background-color: var(--color-white);
					border-radius: 50%;
					transition: background-color var(--duration) var(--ease);
				}
				.is-active{
					background-color: var(--color-primary);
				}
			&.pagination-fraction{
				display: none;
			}
		}
		&__arrows{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
		&__arrow{
			width: 56px;
			height: 56px;
			border-radius: 50%;
			border: none;
			background-color: var(--color-white);
			padding: 20px;
			margin: 0 8px;
				&--prev{
					transform: scaleX(-1);
				}
				svg{
					width: 100%;
					height: 100%;
				}
				@include hover($md){
					&:hover{
						background-color: var(--color-primary);
					}
				}
		}
}