.splide{
	&.pagination-carousel{
		.splide{
			&__arrows{
				top: 13px;
				right: 0;
				height: 18px;
				left: initial;
				transform: initial;
				margin: 0 -50px;
			}
			&__arrow{
				background: initial;
				border: initial;
				border-radius: initial;
				padding: 0;
				width: 11px;
				height: 18px;
				margin: 0 50px;
			}
		}
	}
		&__pagination{
			position: absolute;
			bottom: 8px;
			left: 50%;
			transform: translateX(-50%);
				li{
					width: 10px;
					height: 10px;
						&:not(:last-child){
							margin-right: 12px;
						}
				}
				button{
					width: 100%;
					height: 100%;
					padding: 0;
					border: none;
					background-color: var(--color-white);
					border-radius: 50%;
					transition: background-color var(--duration) var(--ease);
				}
				.is-active{
					background-color: var(--color-primary);
				}
			&.pagination-fraction{
				display: none;
			}
		}
		&__arrows{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
		&__arrow{
			width: 56px;
			height: 56px;
			border-radius: 50%;
			border: none;
			background-color: var(--color-white);
			padding: 20px;
			margin: 0 8px;
				&--prev{
					transform: scaleX(-1);
				}
				svg{
					width: 100%;
					height: 100%;
				}
				@include hover($md){
					&:hover{
						background-color: var(--color-primary);
					}
				}
		}
		&__fractions{
			text-align: right;
			font-size: 36px;
			line-height: 44px;
			font-weight: 600;
			margin: 0 0 63px 0;
			padding: 0 40px 0 0;
		}
}