.svg{
	color: inherit;
		&-16{
			width: 16px;
			height: 16px;
		}
		&-20{
			width: 20px;
			height: 20px;
		}
		&-24{
			width: 24px;
			height: 24px;
		}
		&-26{
			width: 26px;
			height: 26px;
		}
		&-28{
			width: 28px;
			height: 28px;
		}
}