.video{
	position: relative;
	width: 100%;
	height: 100%;
		&-btn{
			position: absolute;
			width: 54px;
			height: 54px;
			border-radius: 50%;
			background: rgba(255, 255, 255, .8);
			color: var(--color-primary);
			top: 50%;
			left: 50%;
			margin-top: -27px;
			margin-left: -27px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: opacity var(--duration) var(--ease);
			padding-left: 2px;
		}
		&-thumb{
			position: absolute;
			inset: 0;
			overflow: hidden;
			transition: opacity var(--duration) var(--ease);
				img, picture{
					@include imageCover(center);
				}
		}
		&.is-playing{
			.video{
				&-btn{
					opacity: 0;
					padding-left: 0;
						.svg{
							opacity: 0;
						}
						&:before,
						&:after{
							content: '';
							position: absolute;
							width: 3px;
							height: 16px;
							background-color: var(--color-primary);
							top: 50%;
							left: 50%;
							margin-top: -8px;
							margin-left: -1px;
						}
						&:before{
							margin-left: -6px;
						}
						&:after{
							margin-left: 2px;
						}
				}
				&-thumb{
					opacity: 0;
				}
			}
		}
		iframe{
			width: 100%;
			height: 100%;
		}
		&:hover{
			.video-btn{
				opacity: 1;
			}
		}
}