.checkout{
	background-color: #E4F0FC;
	position: relative;
		&-bg{
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 50%;
			max-width: 1440px;
			width: 100%;
			height: 640px;
			transform: translateX(-50%);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-image: url(../images/checkout/bg.png);
				@include m(1441){
					&:before,
					&:after{
						content: '';
						position: absolute;
						top: 0;
						width: 100px;
						height: 100%;
					}
					&:before{
						left: 0;
						background: -moz-linear-gradient(left,  rgba(228,240,252,1) 0%, rgba(228,240,252,0) 100%);
						background: -webkit-linear-gradient(left,  rgba(228,240,252,1) 0%,rgba(228,240,252,0) 100%);
						background: linear-gradient(to right,  rgba(228,240,252,1) 0%,rgba(228,240,252,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0fc', endColorstr='#00e4f0fc',GradientType=1 );
					}
					&:after{
						right: 0;
						background: -moz-linear-gradient(left,  rgba(228,240,252,0) 0%, rgba(228,240,252,0) 14%, rgba(228,240,252,1) 100%);
						background: -webkit-linear-gradient(left,  rgba(228,240,252,0) 0%,rgba(228,240,252,0) 14%,rgba(228,240,252,1) 100%);
						background: linear-gradient(to right,  rgba(228,240,252,0) 0%,rgba(228,240,252,0) 14%,rgba(228,240,252,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4f0fc', endColorstr='#e4f0fc',GradientType=1 );
					}
				}
		}
		&-body{
			min-height: 100vh;
			position: relative;
			padding: 60px 0 26px;
				.btn{
					height: 52px;
					line-height: 52px;
				}
				.btns-group-border{
					margin: 6px 0 30px;
				}
				.box-action{
					.btn{
						height: 60px;
						line-height: 60px;
							@include d($md){
								height: 56px;
								line-height: 56px;
							}
					}
				}
				.list{
					&:not(.list-18){
						li{
							@include d($md){
								font-size: 14px;
							}
						}
					}
				}
				@include d($md){
					padding: 17px 0 0;
				}
		}
		&-detail{
			margin-top: -4px;
			margin-bottom: 20px;
				&-item{
					display: flex;
						&:not(:last-child){
							margin-bottom: 31px;
								@include d($md){
									margin-bottom: 15px;
								}
						}
				}
				&-icon{
					width: 32px;
					height: 32px;
					min-width: 32px;
					margin-right: 16px;
				}
				&-content{
					width: 100%;
				}
				&-title{
					font-family: var(--font-semibold);
					color: #44495B;
					font-size: 16px;
					margin-bottom: 5px;
				}
				&-description{
					font-size: 12px;
					font-family: var(--font-medium);
					color: #A6B4C1;
					line-height: 1.33em;
				}
				@include d($md){
					margin-top: 0;
					margin-bottom: 14px;
					padding-top: 14px;
				}
		}
		&-checkbox{
			position: relative;
			display: block;
			margin-bottom: 12px;
				&-item{
					position: absolute;
					top: 0;
					left: 0;
					&:checked{
						& ~ .checkout-checkbox{
							&-header {
								border-color: #2EAADA;
								background-color: #F5FCFF;
									.checkout {
										&-checkbox {
											&-icon {
												border-color: #2EAADA;
												
												&:before {
													opacity: 1;
												}
											}
										}
									}
							}
							&-body{
								&:not(:empty){
									display: block;
								}
							}
						}
					}
				}
				&-header{
					display: flex;
					align-items: center;
					padding: 14px 24px;
					border: 1px #D9E5F1 solid;
					border-radius: 8px;
					min-height: 60px;
					transition: border-color var(--duration) var(--ease), background-color var(--duration) var(--ease);
				}
				&-body{
					display: none;
					padding: 27px 25px 9px;
					border: 1px #2EAADA solid;
					border-top: none;
					border-radius: 0 0 8px 8px;
					margin-top: -5px;
					font-size: 12px;
						.input-container{
							padding-bottom: 13px;
						}
						.list{
							display: flex;
							flex-direction: column;
							margin-bottom: 10px;
								&-item{
									font-size: 12px;
									display: inline-flex;
									align-items: center;
										.svg{
											margin-right: 5px;
										}
								}
						}
						.hr{
							background-color: #D9E5F1;
							margin: 10px 0;
						}
						a{
							text-decoration: underline;
							transition: color var(--duration) var(--ease);
							display: inline-block;
							white-space: nowrap;
								@include hover($md){
									&:hover{
										color: #2EAADA;
									}
								}
						}
						@include d($md){
							padding: 27px 15px 9px;
						}
				}
				&-icon{
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 1px #D9E5F1 solid;
					position: relative;
					transition: border-color var(--duration) var(--ease);
						&:before{
							content: '';
							position: absolute;
							inset: 3px;
							border-radius: 50%;
							background-color: #2EAADA;
							opacity: 0;
							transition: opacity var(--duration) var(--ease);
						}
						& ~ .checkout-checkbox-content{
							padding-left: 16px;
						}
				}
				&-content{
					flex: 1;
				}
				&-title{
					line-height: 1.2em;
					font-family: var(--font-medium);
					color: #44495B;
					display: inline-flex;
					align-items: center;
						img{
							height: 24px;
							margin-left: 12px;
							width: 67px;
							object-fit: contain;
							object-position: center;
						}
						@include d($md){
							width: 100%;
							justify-content: space-between;
							font-size: 12px;
						}
				}
				&-subtitle{
					line-height: 1.2em;
					font-size: 12px;
					font-family: var(--font-medium);
					color: #A6B4C1;
					margin-top: 4px;
				}
				&-detail{
					font-size: 12px;
					font-family: var(--font-medium);
					display: inline-flex;
					align-items: center;
						&:empty{
							display: none;
						}
						img{
							@include d($xs){
								max-width: 68px;
							}
						}
						@include d($xs){
							margin-left: 20px;
						}
				}
		}
		&-modal{
			color: var(--color-black);
				&-thumb{
					margin: 0 auto 30px;
					height: 20px;
					text-align: center;
				}
				&-action{
					text-align: center;
					padding: 20px 0;
						.btn{
							max-width: 400px;
							width: 100%;
						}
				}
				&-detail{
					font-size: 12px;
					color: var(--color-black-300);
					max-width: 400px;
					margin: 10px auto 40px;
					text-align: center;
					line-height: 1.2em;
				}
				[class*="h-"]{
					margin-bottom: 20px;
				}
				.list{
						li{
							justify-content: flex-start;
							margin-bottom: 10px;
						}
						.svg{
							margin-right: 5px;
							margin-top: 2px;
						}
						&-bg{
							li{
								margin-bottom: 0;
							}
						}
				}
		}
		.basket{
				&:not(.basket-result){
					margin-top: -6px;
					margin-bottom: 34px;
						@include d($md){
							margin-bottom: 38px;
							margin-top: 28px;
						}
				}
				&-result{
					margin-bottom: 25px;
						@include d($md){
							margin-bottom: 14px;
						}
				}
		}
		.discount{
			margin-bottom: 15px;
				@include d($md){
					margin-bottom: 6px;
				}
		}
		
}