.counter{
	display: flex;
	align-items: center;
	margin: 4px 0;
	width: 54px;
		&-btn{
			width: 16px;
			height: 16px;
			background-color: #2EAADA;
			border-radius: 5px;
			position: relative;
			color: var(--color-white);
			cursor: pointer;
				.svg{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
		}
		&-value{
			border: none;
			background-color: transparent;
			flex: 1;
			width: 100%;
			padding: 0 2px;
			text-align: center;
			font-size: 12px;
			font-family: var(--font-medium);
				&[type="number"]{
					border: none;
					padding: 0 2px;
					color: inherit;
				}
		}
}